* {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}

body {
    position: relative;
    min-width: 1000px;
}

div {
    border: 1px solid #777;
}

.top {
    height: 58px;
    width: auto;
    background-color: #f1f1f1;
    border: 1px solid rgb(229,229,229);
}

.logo {
    height: 58px;
    width: 120px;
    display: inline-block;
    border: none;
}

.logo img {
    height: 30px;
    width: 90px;
    margin: 15px 0 0 14px;
}

.sb {
    height: 58px;
    width: 650px;
    display: inline-block;
    position: absolute;
    border: none;
}

.sb input {
    padding: 8px;
    margin: 8px 0 0 8px;
}

.sb input[name="search-bar"] {
    border: 1px solid #ccc;
    height: 20px;
    width: 565px;
}

.sb input[name="search-bar"]:hover {
    border: 1px solid #aaa;
}

.sb input[name="search-bar"]:focus {
    border: 1px solid #5882FA;
}

.sb input[name="search-button"] {
    background: url(https://www.google.com/images/nav_logo242.png) no-repeat -107px -55px;
    border: none;
    height: 24px;
    width: 24px;
}

#sbutton {
    background-color: rgb(66, 133, 244);
    height: 38px;
    width: 38px;
    position: absolute;
    right: 22px;
    top: 8px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

#sbutton:hover {
    background-color: rgb(59, 120, 231);
}

.top-menu {
    height: 60px;
    width: 300px;
    float: right;
    display: inline-block;
    border: none;
}

ul {
    position: absolute;
    right: 10px;
    top: 8px;
}

li {
    display: inline-block;
    margin-top: 10px;
}

a {
    text-decoration: none;
    margin: 0 7px;
    color: #444;
}

#grid-img {
    height: 16px;
    width: 16px;
    margin-bottom: -5px;
}

#sign-in {
    background-color: #5882FA;
    color: white;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 14px;
}

#sign-in:hover {
    text-decoration: none;
}

.search-options-bar {
    height: 60px;
    border: 1px solid #f1f1f1;
}

.search-options {
    height: 60px;
    width: 600px;
    margin-left: 130px;
    position: absolute;
    display: inline-block;
    border: none;
}

.search-options ul {
    position: relative;
    margin-left: 15px;
    top: 10px;
}

.search-options li {
    display: inline-block;
    margin-left: -7px;
    margin-right: 18px;
    margin-top: 12px;
    font-size: 13px;
    color: #777;
    height: 36px;

}

.search-options li:hover {
    color: #444;
}

#active-option {
    font-weight: bold;
    color: #5882FA;
    border-bottom: 3px solid #5882FA;
    width: 28px;
    padding-left: 6px;
}

.settings-button {
    display: inline-block;
    position: absolute;
    right: 8px;
    height: 60px;
    width: 90px;
    border: none;
}

.settings {
    height: 30px;
    width: 70px;
    margin-left: 9px;
    margin-top: 14px;
    background-color: #f1f1f1;
    border: 1px solid rgb(229,229,229);
}

.settings:hover {
    background-color: rgb(248, 248, 248);
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 1px 0px;
    border: 1px solid rgb(198,198,198);
}

.settings img {
    margin-left: 25px;
    margin-top: 4px;
}

.results {
    width: 600px;
    height: 970px;
    margin-left: 130px;
    border: none;
}

#results-info {
    width: 600px;
    height: 30px;
    border: none;
    margin-top: 10px;
}

#results-info p {
    color: #777;
    margin: 8px;
    font-size: 13px;
}

.result {
    width: 550px;
    height: auto;
    border: none;
    margin-left: 5px;
    margin-bottom: 20px;
}

.result a {
    font-size: 18px;
    color: rgb(26, 13, 171);
    margin: 0;
}

.result p {
    font-size: 13px;
    line-height: 18.2px;
}

.descript {
    color: rgb(84, 84, 84);
}

.address {
    font-size: 14px;
    color: green;
}

.domain {
    color: rgb(119,119,119);
    margin-left: 10px;
}

.related-searches {
    margin-top: -10px;
    width: 600px;
    height: 155px;
    border: none;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}

.related-searches h3 {
    margin: 8px 0 0 8px;
    color: rgb(128,128,128);
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
}

.related-searches ul {
    position: relative;
    display: inline-block;
    margin: 2px 5px 0 20px;
}

.related-searches li {
    display: block;
    font-size: 13px;
    color: rgb(26, 13, 171);
    text-decoration: none;
}

.related-searches li:hover {
    text-decoration: underline;
}

.page-nav {
    width: 600px;
    height: 120px;
    border: none;
    margin-top: 10px;
}

.page-nav img {
    margin-left: 125px;
    margin-top: 15px;
}

.page-nav ul {
    position: relative;
    margin-left: 24px;
    margin-top: -10px;
    font-size: 12px;
}

.page-nav li {
    margin-right: 3px;
}

.page-nav a {
    color: #4285f4;
    margin-right: 0px;
    margin-left: 7px;
}

.page-nav a:hover {
    text-decoration: underline;
}

#next-link {
    margin-left: 42px;
}

.page-nav-items {
    height: 70px;
    width: 350px;
    margin-top: -32px;
    position: absolute;
    margin-left: 150px;
    border: none;
}

.page-nav-item {
    display: inline-block;
    margin: 0;
    height: 40px;
    padding-top: 30px;
    border: none;
}

.page-nav-item:hover {
    text-decoration: underline;
}

.bottom-bar {
    width: auto;
    height: 80px;
    margin-top: 275px;
    background-color: #f1f1f1;
    border: 1px solid rgb(229,229,229);
}

.bottom-bar ul {
    position: relative;
    margin-left: 20px;
    font-size: 13px;
    line-height: 15px;
    color: rgb(170, 170, 170);
}

.bottom-bar li {
    display: inline-block;
    margin-left: 10px;
}

.bottom-bar a {
    margin-left: -1px;
    color: rgb(119, 119, 119);
}

.bottom-bar a:hover {
   color: rgb(51, 51, 51);
}

#dot {
    background-color: rgb(158, 158, 158);
    height: 8px;
    width: 8px;
    display: inline-block;
    margin-right: 4px;
    border-radius: 5px;
    border-color: #f1f1f1;
}

